* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, Song, sans-serif;
    font-size: 14px;
    color: #555;
}

ul, li {
    list-style: none;
}

.box {
    margin: 20px auto;
    width: 500px;
}

.box ul {
    position: relative;
    top: 1px;
}

.box ul:after {
    display: block;
    content: '';
    clear: both;
}

.box ul li {
    float: left;
    margin-right: 10px;
    padding: 0 20px;
    line-height: 35px;
    border: 1px solid #999;
    cursor: pointer;
}

.box ul li.select {
    background: lightcyan;
    border-bottom-color: lightcyan;
}

.box div {
    display: none;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: 1px solid #999;
    background: lightcyan;
}

.box div.select {
    display: block;
}